<header>
    <nav class="white">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo grey-text text-darken-4">GoGo Visuals</a>
            <a href="#" data-activates="mobile" class="button-collapse grey-text text-darken-4"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="grey-text text-darken-4" href="/">Home</a></li>
                <li><a class="grey-text text-darken-4" href="/portfolio/">Portfolio</a></li>
                <li><a class="grey-text text-darken-4" href="/about/">About</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a class="grey-text text-darken-4" href="/">Home</a></li>
                <li><a class="grey-text text-darken-4" href="/portfolio/">Portfolio</a></li>
                <li><a class="grey-text text-darken-4" href="/about/">About</a></li>
            </ul>
        </div>
    </nav>
</header>
