<header>
    <nav class="nav-extended white">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo grey-text text-darken-4">GoGo Visuals</a>
            <div class="right">
                <ul class="hide-on-med-and-down tabs tabs-transparent">
                    <li class="tab"><a class="active grey-text text-darken-4" href="#home">Home</a></li>
                    <li class="tab"><a class="grey-text text-darken-4" href="#about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-content">
            <ul class="hide-on-large-only tabs tabs-transparent">
                <li class="tab"><a class="active grey-text text-darken-4" href="#home">Home</a></li>
                <li class="tab"><a class="grey-text text-darken-4" href="#about">About</a></li>
            </ul>
        </div>
    </nav>
</header>
